<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-back ">Thêm phiếu</h5>
<form action="" [formGroup]="phieuForm" class="w-full" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
  <div class="mb-5">
    <label for="loaiDV" class="block mb-2 text-sm font-medium text-gray-900 dark:text-back">loaiDV</label>
    <input type="text" id="loaiDV" class="form-control" placeholder="Trạng thái" formControlName="loaiDV">
    @if (phieuForm.get('loaiDV')?.hasError('required') && phieuForm.get('loaiDV')?.touched) {
    <div class="form-error">loaiDV is required</div>
    }
  </div>
  <div class="mb-5">
    <label for="trangThai" class="block mb-2 text-sm font-medium text-gray-900 dark:text-back">Trạng thái</label>
    <input type="text" id="trangThai" class="form-control" placeholder="Trạng thái" formControlName="trangThai">
    @if (phieuForm.get('trangThai')?.hasError('required') && phieuForm.get('trangThai')?.touched) {
    <div class="form-error">Trạng thái is required</div>
    }
  </div>
  <!-- <div class="mb-5">
    <label for="mobile" class="block mb-2 text-sm font-medium text-gray-900 dark:text-back">Mobile</label>
    <input type="text" id="mobile" class="form-control" placeholder="Mobile" formControlName="mobile">
    @if (phieuForm.get('mobile')?.hasError('required') && phieuForm.get('mobile')?.touched) {
    <div class="form-error">Mobile is required</div>
    }
  </div> -->
  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Gửi</button>
  <button type="button" (click)="onClose()"
    class="text-white  ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Hủy</button>
</form>